body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-size: 16px;
  background-color: #fff;
  color: #434455;
}

.title-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.studio-link {
  color: #2e2f42;
}

.page-nav {
  list-style-type: none;
}
.page-nav .link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

.address .nav-address {
  list-style-type: none;
}
.address {
  font-style: normal;
}

.address .nav-address .link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.address .nav-address .link:hover,
.nav-address .link:focus {
  color: #404bbf;
}

.section-first {
  background-color: #2e2f42;
}

.section-first .header-first {
  color: #fff;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  font-size: 56px;
  letter-spacing: 0.02em;
}

.section-first .button-first {
  background-color: #4d5ae5;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.section-first .button-first:hover {
  background-color: #404bbf;
}

.section-first .button-first:focus {
  background-color: #404bbf;
}

.section-second .features-list {
  list-style-type: none;
}

.section-second .features-list .title {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-second .features-list .text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.section-third {
  background-color: #f4f4fd;
}
.section-third .title-third {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-third .team-list {
  list-style-type: none;
}

.section-third .team-list .list-item-section-third {
  background-color: #ffffff;
}

.section-third .team-list .list-item-section-third .name {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-third .team-list .list-item-section-third .text {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.section-fourth .title-portfolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.section-fourth .portfolio-list {
  list-style-type: none;
}

.section-fourth .portfolio-list .item-portfolio {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-fourth .portfolio-list .text {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer {
  background-color: #2e2f42;
}

.footer .text-footer {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer .title-link-two {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}
.footer .studio-link-two {
  color: #f4f4fd;
}

ul {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-nav,
.nav-address {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title-link {
  margin-right: 76px;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0%;
}

.page-nav .link {
  display: block;
  padding: 24px 0;
}

.section-first-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.header-first {
  max-width: 496px;
  padding: 0;
  margin: 0;
}

.button-first {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 4px;
  border: none;
  margin-top: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-first {
  max-height: 600px;
  padding: 188px 0;
}

.list-item-section-second {
  width: calc((100% - 72px) / 4);
}

.features-list {
  display: flex;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title,
.text {
  margin: 0;
}

.list-item-section-third {
  flex-basis: calc((100% - 72px) / 4);
  margin: 0;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.title-section-second {
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.team-info {
  padding: 32px 0;
}

.name {
  text-align: center;
}
.team-info .title-name {
  margin-bottom: 8px;
}

.text-third-section-position {
  text-align: center;
}
.title-third {
  margin-top: 0;
  text-align: center;
  margin-bottom: 72px;
}

.section-fourth-container {
  max-width: 1304px;
}
.portfolio-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.title-portfolio {
  margin-bottom: 72px;
}

.list-item-section-fourth {
  width: calc((100% - 48px) / 3);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.item-portfolio {
  margin-bottom: 8px;
  margin-top: 0;
}

.text-portfolio {
  margin-top: 0;
}

footer {
  padding: 100px 0;
}
.title-link-two {
  display: inline-block;
  margin-bottom: 16px;
}

.text-footer {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 264px;
}
